/x64
/Debug
/**/resources/models
/**/resources/textures
/**/debug
/**/x64
/*.data
/**.*.data
/*.wasm
/**.*.wasm
/*.js
/**.*.data
/**.*.wasm
/**-*.js
/.vs
/Tests/debug
/Tests/x64
*.dll
**.*.dll
/vendor

